<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-user" method="post">
<div>
    <input type="text" placeholder="Enter user name " name="name">
    <br/>
    <input type="text" placeholder="Enter user name " name="age">
    <br/>
    <input type="email" placeholder="Enter user name " name="email">
    <br/>
    <button>Add User</button>
</div>

    </form>
</body>
</html>